@model IEnumerable<SeaMODEPortal.Models.Login>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BoatID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessLvl)  @*Tämän voi piilottaa toimivasta sovelluksesta pois*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BoatID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassWord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessLvl) @*Tämän voi piilottaa toimivasta sovelluksesta pois*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.LoginID }, new { @class = "fas fa-user-edit" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.LoginID }, new { @class = "fas fa-trash" })
        </td>
    </tr>
}

</table>
